@page "/education/lesson2-3"

<PageTitle>Урок 2-3</PageTitle>

<h3 class="py-4">ВНУТРЕННИЕ МЕРОПРИЯТИЯ</h3>
<MudGrid Justify="Justify.SpaceEvenly">
    <CardSlide Title="У НАС ИНТЕРЕСНАЯ И РАЗНООБРАЗНАЯ
        КОРПОРАТИВНАЯ ЖИЗНЬ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Спортивные мероприятия
                (велопробег, городской забег,
                соревнования по футболу,
                волейболу, баскетболу, теннису,
                нардам, банные дни).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Экстремальные спортивные
                мероприятия ( страйкбол,
                туристические походы разной
                степени сложности).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                День Созидания Совершенства
                – ежегодное масштабное
                мероприятие, в котором
                принимают участие большинство
                сотрудников компании.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Конкурсы
                «Лучший сотрудник года»,
                «Лучший руководитель года»:
                гран-при – сертификат
                на путешествие.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Тимбилдинги дирекций
                (яхтинг, каякинг,
                сплавы на сапах).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Яркие корпоративы
                (Новый год, День рождения
                компании, 23 февраля,
                8 марта, День космонавтики,
                День разработчика).
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="НАШИ ТРАДИЦИИ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы поздравляем друг друга с днем рождения, личными и профессиональными
                праздниками.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                У нас принято отмечать дни рождения в обеденный перерыв
                или согласно разрешению руководителя отдела не раньше 17:00.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы открыты для предложений и поддерживаем инициативу сотрудника
                привнести в корпоративную жизнь компании свое здравое увлечение
                (например, придумать новое корпоративное мероприятие).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы самостоятельно организуем все мероприятия и праздники внутри
                компании: от идеи до реализации.
            </MudListItem>
        </MudList>
    </CardSlide>
</MudGrid>
<Paragraph>
    ХОЧЕШЬ СТАТЬ ЧАСТЬЮ КОМАНДЫ ОРГАНИЗАТОРОВ ИЛИ ВВЕСТИ НОВУЮ
    ТРАДИЦИЮ – ПРИХОДИ В ОТДЕЛ ПЕРСОНАЛА, И МЫ РАССКАЖЕМ,
    КАК ПОПАСТЬ В ЭТУ ГРУППУ ИЛИ РЕАЛИЗОВАТЬ ТВОЙ ЗАМЫСЕЛ.
</Paragraph>

<MudButton Href="/education"
           Variant="Variant.Filled"
           EndIcon="@Icons.Material.Filled.ArrowForwardIos"
           Color="Color.Primary">
    Закончить
</MudButton>

@code {

}
