@page "/education/lesson1-3"

<PageTitle>Урок 1-3</PageTitle>

<h3 class="py-4">ПРЕИМУЩЕСТВА РАБОТЫ В КОМПАНИИ</h3>
<MudGrid Justify="Justify.SpaceEvenly">
    <CardSlide Title="РАЗВИВАЕМ КОРПОРАТИВНЫЙ ДУХ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Наш коллектив — одна команда.
                Каждый стремится сделать работу
                в СТИЛСОФТ максимально
                комфортной для себя и своих
                коллег.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Активная корпоративная жизнь
                – более 40 мероприятий
                спортивного, обучающего,
                экстремального характера
                ежегодно.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Руководство открыто к диалогу
                – у тебя есть возможность
                обсуждать изменения на любом
                уровне взаимодействия.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Дружественная связь между
                сотрудниками – важная
                составляющая корпоративной
                идеи.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="ПРЕДОСТАВЛЯЕМ ПРОФЕССИОНАЛЬНОЕ РАЗВИТИЕ:">
        <MudList Layout="Layout.Grid">
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Обучение и повышение квалификации
                оплачивается на 100% за счет компании
                (при соблюдении условия – стаж работы
                в компании более 1 года).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Возможность перейти
                в смежную профессию.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Возможность старта карьеры
                без опыта и развитая система
                наставничества.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Свобода в возможностях
                выбора инструментов реализации
                профессиональных задач.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="ДАЁМ УВЕРЕННОСТЬ В ЗАВТРАШНЕМ ДНЕ:">
        <MudList Layout="Layout.Grid">
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Сильный и опытный менеджмент.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Длительное партнерство с крупными
                заказчиками.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Премирование по результатам работы и
                профессиональным юбилеям.
            </MudListItem>
        </MudList>
    </CardSlide>    
    <CardSlide Title="ПОДДЕРЖИВАЕМ МЕНТАЛЬНОЕ
        И ФИЗИЧЕСКОЕ ЗДОРОВЬЕ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Психологическая помощь с 50% скидкой.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Спортивный зал с современным инвентарем и душевыми.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Футбольное поле на крыше, бассейн и баня, спортивные секции
                для сотрудников и их детей на территории компании в г. Ставрополь.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="ЗАБОТИМСЯ О СОТРУДНИКАХ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Поддержка и помощь
                в сложных жизненных ситуациях.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Реферальная программа.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Выплаты при рождении ребенка.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Релокационный пакет.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Оплата сверхурочных.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Корпоративные скидки
                у партнеров компании.
            </MudListItem>
        </MudList>
    </CardSlide>
</MudGrid>

<MudButton Href="/education"
           Variant="Variant.Filled"
           EndIcon="@Icons.Material.Filled.ArrowForwardIos"
           Color="Color.Primary">           
    Закончить
</MudButton>

@code {

}
