@page "/education/lesson2-1"

<PageTitle>Урок 2-1</PageTitle>

<h3 class="py-4">ОБЩИЕ ПРАВИЛА</h3>
<MudGrid Justify="Justify.SpaceEvenly">
    <CardSlide Title="ПРАВИЛА РАБОЧЕГО ДНЯ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы приходим на работу
                вовремя, к 09:00.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Проходим на территорию компании
                и в офис по электронным пропускам
                (проксимити-картам) или биометрии
                лица. Пропуск персональный.
                Передача пропуска третьим лицам
                недопустима.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                По завершении рабочего дня
                выключаем компьютеры, свет
                и закрываем окна.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Если задерживаемся к началу
                рабочего дня, уведомляем
                об этом руководителя
                с указанием причины
                задержки.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="ПИТАНИЕ И ОТДЫХ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Обедаем в столовой, соблюдая очередность.
                Очередность ежемесячно публикует отдел персонала в корпоративном
                Рокет-чате.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Курим в специально отведенных для этого местах.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Спортзал посещаем в сменной обуви, бережно относимся к оборудованию.
                Спортзал доступен с 08:00 до 20:00 в нерабочее время.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Запись в бассейн и баню ведется отдельно. Подробности в отделе персонала.
                Расписание спортивных секций доступно на корпоративном портале.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="КОММЕРЧЕСКАЯ ТАЙНА И БЕЗОПАСНОСТЬ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Не разглашаем корпоративную информацию.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Храним в тайне свой пароль, не разглашаем пароль коллегам, не используем
                пароли коллег.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Блокируем компьютер, когда отходим от него.
                Делается это просто: зажимаем сочетание клавиш Windows + L.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Ознакомься с подробной информацией на корпоративном портале в разделах
                Регламент предоставления ИТ-услуг и Памятка пользователя.
            </MudListItem>
        </MudList>
    </CardSlide>
    <CardSlide Title="ВЗАИМОДЕЙСТВИЕ С КОЛЛЕГАМИ:">
        <MudList>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Всегда руководствуемся нормами делового этикета.
                Подробности в Кодексе деловой этики компании (найти документ можно
                на корпоративном портале).
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы серьезно относимся к работе, но имеем прекрасное чувство юмора.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы готовы собраться на мозговой штурм, помочь с идеей и ее реализацией.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Мы руководствуемся принципом: «критикуешь – предлагай, а предлагаешь
                – делай». У нас нет места пустой критике – только делу.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                На общих встречах, планерках благодарим друг друга за совместную работу,
                подчеркиваем достижения на благо общего дела.
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Check">
                Наши сотрудники принимают активное участие и занимают призовые места
                в конкурсах профессиональной направленности, а также в спортивных
                соревнованиях на уровне города, края и страны.
            </MudListItem>
        </MudList>
    </CardSlide>
</MudGrid>

<MudButton Href="/education/lesson2-2"
           Variant="Variant.Filled"
           EndIcon="@Icons.Material.Filled.ArrowForwardIos"
           Color="Color.Primary">
    Далее
</MudButton>

@code {

}
